<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.github.repository_name }}</title>
    <link rel="icon" type="image/x-icon" href="https://pablo.haus/favicon.ico">
    <link rel="stylesheet" href="https://pablo.haus/styles.css">
</head>
<body>
    <div class="text-container">
        <h1>{{ site.github.repository_name }}</h1>
        <p><a href="https://pablo.haus">pablo.haus</a>: author's landing page</p>
        <p><a href="https://github.com/pytzen/{{ site.github.repository_name }}">github</a>: source code</p>
    </div>
    <div class="image-container">
        <div class="image-wrapper">
            <img src="https://pablo.haus/concepts/{{ site.github.repository_name }}.png" alt="{{ site.github.repository_name }} concept">
        </div>
    </div>
    <div class="text-container">
        {{ content }}
    </div>
</body>
</html>